{% extends 'layout.html' %}
{% block content %}
<div class="panel panel-default">
        <div class="panel-heading">添加员工</div>
        <div class="panel-body">
            <form class="form-inline" method="post" action="/add_employee/">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only">姓名</label>
                    <input class="form-control" type="text" name="name" placeholder="姓名">
                </div>
                <div class="form-group">
                    <label class="sr-only">薪资</label>
                    <input class="form-control" type="text" name="salary" placeholder="薪资">
                </div>
                <div class="form-group">
                    <select class="form-control" name="department">
                        {% for department in department_list %}
                            <option value="{{ department.id }}">{{ department.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default">添加</button>
            </form>
        </div>
    </div>
{% endblock %}
